
.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-label {
    top: -10px; /* Levemente acima da borda superior */
    left: 10px; /* Ajuste horizontal, se necessário */
    padding: 0 00px; /* Ajuste para melhor legibilidade */
    font-size: 12px; /* Tamanho menor para a legenda */
    color: #222;
    align-items: center;
    justify-content: center;
  
  
  }
  
  .input-field {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    background-color: white;
    
  }
  .input-field:focus{
    border-bottom: 1px solid #585858;
  }
  .input-field:hover{
    cursor: text;
  }