:root{
    --left-width: 250px;
    --onTop-height: 190px;
}

.myHome {
    margin: auto;
    width: 100%;
}

.divLeft { 
    margin: 0px;
    box-sizing: border-box;
    float: left;
    width: var(--left-width);
    height: 98vh;
    overflow: auto;
}

.EpsButtons{
    display: flex;
    height: calc(100% - var(--onTop-height));
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

}
.EpsButtons > * {
    flex: 0 0 auto; /* Impede que os filhos cresçam ou dividam espaço igualmente */
}
.onTop{
    height: var(--onTop-height);
    box-sizing: border-box;
}